In [7]:
import datetime

In [8]:
mytime = datetime.time(2,20)

In [9]:
mytime

datetime.time(2, 20)

In [10]:
mytime.minute

20

In [11]:
mytime.hour

2

In [12]:
print(mytime)

02:20:00

In [13]:
mytime.microsecond

0

In [14]:
type(mytime)

datetime.time

In [15]:
today = datetime.date(2008,3,1)

In [16]:
print(today)

2008-03-01

In [17]:
today = datetime.date.today()

In [18]:
print(today)

2024-08-17

In [19]:
today.year

2024

In [20]:
today.month

8

In [21]:
today.day

17

In [22]:
today.ctime()

'Sat Aug 17 00:00:00 2024'

In [23]:
from datetime import datetime

In [24]:
mytime = datetime(2025,10,3,14,21,50)

In [25]:
print(mytime)

2025-10-03 14:21:50

In [26]:
mytime = mytime.replace(year=2024)

In [27]:
mydatetime = datetime(2002,12,5,14,15,1)

In [28]:
print(mydatetime)

2002-12-05 14:15:01

In [29]:
mydatetime.ctime()

'Thu Dec  5 14:15:01 2002'

In [30]:
from datetime import date

In [31]:
date1 = date(2024,3,1)
date2 = date(2022,11,3)

In [32]:
result = date1 - date2

In [33]:
type(result)

datetime.timedelta

In [34]:
datetime1 = datetime(2021,11,3,22,0)
datetime2 = datetime(2021,11,4,0,0)

In [35]:
result = datetime1 - datetime2

In [36]:
type(result)

datetime.timedelta

In [37]:
print(result)

-1 day, 22:00:00

In [38]:
36000/60/60

10.0

In [39]:
result.seconds

79200

In [41]:
result.total_seconds()

-7200.0