# Floor Divison (Quotient)

In [4]:
3//2

1

In [5]:
5//6

0

In [7]:
7//8

0

# Mod operator

In [8]:
3%2

1

# String formatting

Three types we could use for formatting 
1. %s operator
2. %r operator (creates a string in a string)
3. %d operator (coverts a number into string)
4. .format()
5. f-string literals

### % formatting

In [9]:
print("I'm going to inject %s here." %'something')

I'm going to inject something here.

In [10]:
print("I will catch a %r"%'big \tfish')

I will catch a 'big \tfish'

In [12]:
print("I caught %d fishes"%30.75)

I caught 30 fishes

# Padding and precision of floating number 
For eg ; 
5.2f, in this 5 is the length of numbers and .2f represents how many numbers can before .2f is

In [16]:
print("%5.2f"%(13.444))

13.44

In [19]:
Salary = float(input("Your salary = "))
tax = 10
tax_rate = (Salary * tax)/100
print("The tax you need to pay %10.3f"%tax_rate)

Your salary =  20000

The tax you need to pay   2000.000

### Formating with <b><u>.format()</u></b>

In [20]:
print("There is something i need to {t} {y} ".format(t = "tell",y = "you"))

There is something i need to tell you

In [22]:
# {0} {r} Storing value like these are called placeholders

### FLoat number padding with ,format()

In [1]:
print('This is my ten-character, two-decimal number:{r:10.2f}'.format(r = 13.579))

This is my ten-character, two-decimal number:     13.58

### F-string literals() float number padding

In [25]:
num = 60.269

In [26]:
print(f"My 10 character, four decimal number is:{num:10.4f}")

My 10 character, four decimal number is:   60.2690

In [1]:
result = float(input("Enter your result = "))
print("The result is %2.2f"%(result))
print("The result is {r:2.2f}".format(r = result))
print(f"The result is {result:2.2f}")

Enter your result =  589.235

The result is 589.24
The result is 589.24
The result is 589.24