In [1]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [2]:
my_iter = [1,2,48,15,9,1,7,1]
for my in my_iter:
    print(my)

1
2
48
15
9
1
7
1

In [3]:
my_iter = [1,2,48,15,9,1,7,1]
for num in my_iter:
    if num%2==0:
        print(num)
    # else:
    #     print("Reject")

2
48

In [4]:
# Totalling my_iter = [1, 2, 48, 15, 9, 1, 7, 1]
list_sum = 0
for num in my_iter:
    list_sum = list_sum + num
print(list_sum)

84

In [5]:
mystring = "Hello"
for iterable in mystring:
    print(iterable)

H
e
l
l
o

In [6]:
tup = (1,2,3,4)
for tu in tup :
    print(tu)

1
2
3
4

In [7]:
my_list = [(1,2),(3,4),(5,6),(7,8)]
for _ in my_list:
    print("Hello world")
    print(_)

Hello world
(1, 2)
Hello world
(3, 4)
Hello world
(5, 6)
Hello world
(7, 8)

In [8]:
# Tuple and packing 
for (a,b) in my_list:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [9]:
d = {'k1':1,'k2':2,'k3':3}

In [10]:
for c in d.values():
    print(c)

1
2
3

In [11]:
for key, value in d.items():
    print(key,value)

k1 1
k2 2
k3 3

In [12]:
for key in d.keys():
    print(key)

k1
k2
k3

In [1]:
a = [1,2,2,31,7,18,7]
for b in a :
    print("Hello")
    print(b)

Hello
1
Hello
2
Hello
2
Hello
31
Hello
7
Hello
18
Hello
7

In [3]:
dic = {"Name":"Mehdi",
       "Friends":["Ali","Ahmed","Daniyal"]}
for di in dic.items():
    print(di)

('Name', 'Mehdi')
('Friends', ['Ali', 'Ahmed', 'Daniyal'])

In [5]:
tu = ((1,2),(3,4),(5,6))
for t,s in tu :
    print(t)
    print(s)

1
2
3
4
5
6

In [6]:
my_string = "Mehdi"
for my in my_string:
    print(my)

M
e
h
d
i

In [7]:
c = [1,4,5,684,27,13,1,6,0]
for d in c:
    if d%2!=0:
        print(f"The number is odd {d}")
    else:
        print("{} is the even number".format(d))

The number is odd 1
4 is the even number
The number is odd 5
684 is the even number
The number is odd 27
The number is odd 13
The number is odd 1
6 is the even number
0 is the even number