In [3]:
# Unordered Collection of list

In [4]:
a = {"Mehdi","Abbas"}

In [5]:
type(a)

set

In [6]:
my_set = set()

In [7]:
my_set.add(1)

In [9]:
my_set.add(2)

In [10]:
my_set.pop()

1

In [11]:
my_set

{2}

In [12]:
my_list = [1,2,3,4,5,4,5,28,9,8,5]

In [13]:
set(my_list)

{1, 2, 3, 4, 5, 8, 9, 28}

In [19]:
set("Mississipi")

{'M', 'i', 'p', 's'}

In [1]:
a = {"Mehdi","Naqi","Aeliya","NoorAli"}

In [2]:
a

{'Aeliya', 'Mehdi', 'Naqi', 'NoorAli'}

In [3]:
a.add("Farzana")

In [4]:
a

{'Aeliya', 'Farzana', 'Mehdi', 'Naqi', 'NoorAli'}

In [5]:
lis = [1,2,5,18,1,2,4,1,6]

In [6]:
lis = set(lis)

In [7]:
lis

{1, 2, 4, 5, 6, 18}

In [11]:
lis.pop()

4

In [12]:
lis

{5, 6, 18}